name: Packager

on:
  push:
    tags:
      - 'v*'
      - '[0-9]*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: BigWigsMods/packager@v2